::-webkit-scrollbar {
    width: 0px;
    background:transparent; /* make scrollbar transparent */
}

/* ******************************************** */
/* header-navbar => header-navbar-black */
/* ******************************************** */
.header-navbar-black {
    background: #141414;
    position: fixed;
    z-index:99;
    width:100%;
    height:66px;
    transition: all ease-out 0.5s;
}

/* ******************************************** */
/* movie hover */
/* ******************************************** */

